/* COLOUR */
/* Border Radius Mixin */
/* Box Sizing Mixin */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Georgia", sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 1.8em;
  background-color: #764721;
}
.container {
  width: 50%;
  margin: 20px auto;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  line-height: 1.8em;
}
.heading-primary {
  background-color: #f67f17;
  color: #fff;
  padding: 2px 10px;
}
.secondary-heading {
  background-color: #764721;
  color: #fff;
  padding: 4px 10px;
}
a {
  color: #f67f17;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.clearfix {
  clear: both;
}
nav {
  height: 30px;
  background: #f67f17;
  color: #fff;
  padding: 5px 5px 0px 5px;
}
nav ul {
  float: right;
}
nav li {
  float: left;
  padding: 0 10px;
  border-right: 1px dotted #fff;
}
nav a {
  color: #fff;
}
nav li:last-child {
  border: 0;
}
nav a:hover {
  color: #ccc;
}
header {
  padding: 10px;
}
.showcase {
  border-top: #f67f17 5px solid;
  border-bottom: #f67f17 5px solid;
}
.showcase img {
  width: 100%;
  margin-bottom: -8px;
}
.page-header {
  border-bottom: #ccc 1px solid;
}
.content {
  padding: 10px 15px;
}
.special {
  margin: 20px 0;
}
.special li {
  width: 33%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.special img {
  width: 100%;
  padding: 3px;
  border: 1px solid #ccc;
}
.new-items {
  margin: 20px 0;
}
.new-items li {
  border-bottom: #f3f3f3 solid 1px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}
.new-items img {
  width: 85%;
  padding: 3px;
  border: 1px solid #ccc;
}
.new-items .items-left {
  width: 20%;
  float: left;
}
.new-items .item-right {
  width: 80%;
  float: right;
}
footer {
  padding: 20px;
  text-align: center;
}
@media (max-width: 960px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 768) {
  .container {
    width: 80%;
  }
}
@media (max-width: 568px) {
  .container {
    width: 90%;
  }
  .special li {
    float: none;
    width: 100%;
  }
  .special img {
    width: 100%;
  }
  .item-right,
  .items-left {
    float: none !important;
    width: 100% !important;
  }
  .new-items img {
    width: 97%;
  }
}
